.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.board-wrapper {
    border: 4px solid #504e76;
    border-radius: 10px;
    width: fit-content;
    padding: 20px;
}

.title {

    color: #504e76;
}